*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Roboto', sans-serif;
  display:flex;
  justify-content: flex-start;
  justify-content: center;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction:column;

  }
}

.card{
  margin:10px;
}
.box{
  width: 350px;
  height:500px;
  border-radius: 10px;
  box-shadow: 0 8px 10px rgba(0,0,0,.5);
}

#image{
  height: 350px;
  width: 350px;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#image img{
   margin-left: 10%;
   padding: 20px;
   width:70%;
}


h4{
  font-size: 13px;
  margin-top: 5px;
}

.color{
width:100%;
} 

button {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  cursor: pointer;
  border:none;
  box-shadow: 0 5px 5px rgba(0,0,0,.5);
}

  
.color1 {
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.color2 {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.color3 {
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
.color4 {
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
.color5 {
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.content{
  padding:10px
}

ul{
margin-top: 6px;
width: 100%;
height: 4vh;
display: flex;
justify-content: space-between;
}
li{
list-style: none;
}



 .t-Shirt-color1{
    background: #26253e;

  }
 .t-Shirt-color2{
    background:black;
    
  }
 .t-Shirt-color3{
    background: grey;
    
  }
 .t-Shirt-color4{
    background: #ffffff;
    
  }
 .t-Shirt-color5{
    background:#44c7fa
  }

  button:focus{
    outline:none;
  }